@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg-primary: #F2F2F2
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}


.container {
  padding: 0 20px;
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  position: relative;
  flex-wrap: wrap;
}

.navbar .active {
  text-decoration: underline;
}

.navbar .desktop-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;  
  text-underline-position: under;
  color: inherit;
  text-transform: capitalize;
}

.navbar ul li a:hover {
  text-decoration: underline; /* Adds underline on hover */
}

.navbar .menu-trigger {
  border: 0;
  background-color: white;
  display: none;
  padding: 0;
}

.navbar .menu-trigger img {
  width: 24px;
  border: 0;
}

.navbar .mobile-menu {
  display: none;
  position: absolute;
  top: 60px; /* Adjust based on navbar height */
  right: 20px;
  background-color: var(--bg-primary);
  list-style: none;
  padding: 6px 12px;
  margin: 0;
  border-radius: 4px;
  width: 120px;
  flex-direction: column; 
  gap: 12px;  
}

.mobile-menu.hidden {
  display: none;
}

@media (max-width: 499px) {
  .navbar .desktop-menu {
    display: none;
  }
  .mobile-menu.visible {
    display: flex;
  }
  .navbar .menu-trigger{
    display: block;
  }
}