@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bg-primary: #F2F2F2
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: var(--bg-primary);
}


.container {
  padding: 0 20px;
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  position: relative;
  flex-wrap: wrap;
  background-color: white;
}

.navbar .active {
  text-decoration: underline;
}

.navbar .desktop-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;  
  text-underline-position: under;
  color: inherit;
  text-transform: capitalize;
}

.navbar ul li a:hover {
  text-decoration: underline; /* Adds underline on hover */
}

.navbar .menu-trigger {
  border: 0;
  background-color: white;
  display: none;
  padding: 0;
}

.navbar .menu-trigger img {
  width: 24px;
  border: 0;
}

.navbar .mobile-menu {
  z-index: 50;
  display: none;
  position: absolute;
  top: 60px; /* Adjust based on navbar height */
  right: 20px;
  background-color: var(--bg-primary);
  list-style: none;
  padding: 6px 12px;
  margin: 0;
  border-radius: 4px;
  width: 120px;
  flex-direction: column; 
  gap: 12px;  
}

.mobile-menu.hidden {
  display: none;
}
 
.search-box {
  margin: 5px 0;
  height: 144px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-box .input-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
}

.search-box input {
  width: 100%;
  padding: 20px 58px 20px 20px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  font-size: 26px;
  box-sizing: border-box;
}

.search-box input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-box .search-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Media Queries */
@media (max-width: 499px) {
  .container {
    padding: 0 10px;
  }
  .navbar .desktop-menu {
    display: none;
  }
  .mobile-menu.visible {
    display: flex;
  }
  .navbar .menu-trigger{
    display: block;
  }

  .search-box {
    height: 100px;
  }

  .search-box .input-container {
    width: 100%;
    padding: 0 10px;
  }

  .search-box input {
    font-size: 16px;
    padding: 10px 32px 10px 10px;
  }

  .search-box .search-icon {
    top: 12px;
    right: 20px;
    width: 18px;
  }
}